body {
  overflow: hidden;
  margin: 0;
}

canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  display: block;
}

#info {
  position: absolute;
  width: 640px;
  height: 360px;
  margin: 0 auto;
  font-family: monospace;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  z-index: 100;
}

#fullscreen {
  position: absolute;
  bottom: 0;
}
